<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    </head>
    <body>
        <div class="jumbotron">
            Bienvenue à Symfony 
        </div>
        {% block body %}{% endblock %}

            <hr>
            (c) 2018 / optimus
        {% block javascripts %}{% endblock %}
    </body>
</html>
