{# /eshop/front/base.html.twig #}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>eShop {% block title %}{% endblock %}</title>
</head><!--/head-->

<body>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
	<link href="/css/main.css" rel="stylesheet">

	<header id="header"><!--header-->
		
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo pull-left">
							<a href="{{path('eshop_index')}}"><img src="/images/home/logo.png" alt="" /></a>
						</div>

					</div>
					<div class="col-sm-8">
						<div class="shop-menu pull-right">
							<ul class="nav navbar-nav">
								<li>
									<a href="panier.html">
										<i class="fa fa-shopping-cart"></i> Panier (0)
									</a>
									{{ render(controller(
        'AppBundle\\Controller\\CartController::cartCount'
    )) }}
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-middle-->

	</header><!--/header-->

	<section>
		<div class="container">
			<div class="row">
				{% block body %}{% endblock %}
			</div>
		</div>
	</section>
	
	<footer id="footer"><!--Footer-->
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<p class="pull-left">Copyright © 2018 Affable Beans.</p>
					<p class="pull-right">Designed by <span><a target="_blank" href="http://www.themeum.com">Foobar</a></span></p>
				</div>
			</div>
		</div>
		
	</footer><!--/Footer-->
	
    <script src="/js/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>