{% extends 'eshop/front/list-layout.html.twig' %}
{% block body %}
	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
					<li><a href="index.html">Home</a></li>
					<li class="active">Commander</li>
				</ol>
			</div><!--/breadcrums-->

			<div class="step-one">
				<h2 class="heading">Valider ma commande / Mes coordonnées</h2>
			</div>

			<section id="form"><!--form-->
				<div class="container">
					<div class="row">

						<div class="col-sm-12">
							<div class="signup-form"><!--sign up form-->
								
								<form action="merci.html">
									<h2>Données de facturation :</h2>

									<input type="text" placeholder="Votre nom & prénom" required="required" />
									<input type="email" placeholder="Email Address" required="required"/>
									<input type="text" placeholder="Adresse" required="required"/>


									<h2>Modes de paiement</h2>
									<div class="payment-options">
										<span>
											<label><input type="radio" name="mode_paiement" value="1"> Virement bancaire</label>
										</span>
										<span>
											<label><input type="radio" name="mode_paiement" value="2"> Paiement par chèque</label>
										</span>
										<span>
											<label><input type="radio" name="mode_paiement" value="3"> Paypal</label>
										</span>
										<br/>
										<button type="submit" class="btn btn-default">Valider ma commande</button>
									</div>
								</form>
								<p></p>
							</div><!--/sign up form-->
						</div>
					</div>
				</div>
			</section><!--/form-->

		</div>
	</section> <!--/#cart_items-->
{% endblock %}